.header{
    display:flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px 20px;
    background-color:#C23542;
    height: 150px;

}

.fire{
    text-align:center;
    height: 150px;
    margin-left:20px;

}

.header-text{
    margin-left: 25px;
    font-size: 90px;
    font-family: 'Faster One';
    flex-grow: 1; 
    color: #000000;   

}

.buttons-contact{
    display: flex;
    align-items: center;
    margin-left: auto; /
}


.github-btn-pic{
    text-align: center;
    width: 100px;
    margin: 0 10px; 
    transition: transform .5s ease-in-out;
}
.github-btn-pic:hover{
    transform: scale(1.1);
}

.x-btn-pic{
    text-align: center;
    width: 100px;
    margin-right:50px;
    margin: 0 50px; 
    transition: transform .5s ease-in-out;
}
.x-btn-pic:hover{
    transform: scale(1.1);
}


/* Remove button default styling */
button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
/**  -----------------------  **/


.bodycls{
    background-image: url('./pics/backgr.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: repeat;
}

.core{
    text-align:center;
    color: white;
}

.title-text{
    font-size: 28px;
    font-family: 'Aldrich';
}

.manifesto-text{
    text-align:justify;
    margin-left: 160px;
    margin-right: 160px;
    font-size: 22px;
}

.email-button {
    display: inline-block;
    padding: 10px 50px;
    background-color: #C23542;
    color: #fff;
    font-size: 28px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 35px;
}

.email-button:hover {
    background-color: #7A212A;
}

.portfolio{
    text-align:center;
    color: white;
    margin-top: 50px;
}

body {
    background-color: #7A212A;
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .project-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    border-radius: 10px;
    background-color: #4d1016;
    
  }
  
  .project-description {
    flex: 1;
    padding: 20px;
    background-color: #C23542;
    border-radius: 10px;
    color: #f0e2e2;
  }
  
  .project-title {
    font-size: 18px;
    color: #241e1c;
    margin: 0;
  }
  
  .project-name {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .project-name a {
    color: #FEF6E2;
    text-decoration: none;
  }
  
  .project-details {
    line-height: 1.6;
    font-size: 16px;
    text-align:justify;
  }
  
  .highlight {
    color: #FEF6E2;
    font-weight: bold;
  }
  
  .tags {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .tags span {
    background-color: #403431;
    color: #f0e2e2;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .links {
    margin-top: 20px;
    display: flex;
    gap: 15px;
  }
  
  .icon {
    width: 30px;
    height: 30px;
  }
  
  .project-image {
    flex: 1.5;
  }
  
  .project-image img {
    width: 100%;
    border-radius: 10px;
  }
  